## 1

In [1]:
a = 2
b = 5

c = a+b

c

7

# 2 if else statements

In [7]:
x =int(input ('  enter a number'))

if x<0:
    print('number is negative entered number is',x)
elif x==0:
    print('number is zero entered number is',x)
elif x%2 ==0:
    print('number is even entered number is',x)
elif x%2 ==1:
    print('number is odd entered number is',x)
else:
    print('program run',x)

  enter a number69
number is odd entered number is 69

# 3 loops

In [23]:
A =['apple','grape','banana',1,2,4,5,10]

for i in range(len(A)):
    print(i,A[i])
    if A[i]=='O':
        print(i,A[i],'string')

0 apple
1 grape
2 banana
3 1
4 2
5 4
6 5
7 10

In [26]:
A =[]
for i in range(10):
    A.append(i)
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
sum(range(100))

4950

In [28]:
s=0
for i in range(100):
    s=s+1
s

100

In [54]:
x=int(input('enter the number '))

for i in range(1,11):
    
    z=x*i
    
    if z%2==0:
        print(x,'*',i,'=',z)

enter the number 3
3 * 2 = 6
3 * 4 = 12
3 * 6 = 18
3 * 8 = 24
3 * 10 = 30

In [52]:
for n in range(2, 10):
    
    for x in range(2, n):
        
        if n % x == 0:
            
            print(n, 'equals', x, '*', n//x)       
            break
        else:
            
            print(n, 'is a prime number')

3 is a prime number
4 equals 2 * 2
5 is a prime number
5 is a prime number
5 is a prime number
6 equals 2 * 3
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 equals 2 * 4
9 is a prime number
9 equals 3 * 3

In [56]:
x=int(input('enter the number '))

for i in range(1,11):
    
    z=x*i
    
    if z%2==0:
        print(x,'*',i,'=',z)

enter the number 7
7 * 2 = 14
7 * 4 = 28
7 * 6 = 42
7 * 8 = 56
7 * 10 = 70

# functions

In [69]:
def multiflication(num,vali):
    if vali<0:
        print('enter positive number')
    for i in range(1,vali+1):
          
        z=num*i
    
#     if z%2==0:
        print(num,'*',i,'=',z)

In [71]:
multiflication(12,20)

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144
12 * 13 = 156
12 * 14 = 168
12 * 15 = 180
12 * 16 = 192
12 * 17 = 204
12 * 18 = 216
12 * 19 = 228
12 * 20 = 240

In [61]:
# write Fibonacci series up to n
"""Print a Fibonacci series up to n."""
def fib(n):
    
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()
fib(20)

0 1 1 2 3 5 8 13

In [74]:
'''if the parmeter is not passed by the function we can write a default by assing at the begining itself'''

def multiflication(num,val=5):
    if vali<0:
        print('enter positive number')
    for i in range(1,vali+1):
          
        z=num*i
    
#     if z%2==0:
        print(num,'*',i,'=',z)

In [77]:
multiflication(12)

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60

In [88]:
def multi(num):
    i=1
    while i< 10+1:
        z=x*i
        print(x,'*',i,'=',z)
        i+=1
multi(12)

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

# file operation

In [98]:
f =open('work','r+')
f.write('12025784122454')
f.read(12)
f.close()

In [100]:
f.close()

In [126]:
def multi(num):
    i=1
    while i< 10+1:
        z=x*i
        val =(x,'*',i,'=',z)
        print(val)
        s=str(val)
        f=open('work','r+')
        f.write('written s')
        f.read()
        
        i+=1
    
multi(12)

(12, '*', 1, '=', 12)
(12, '*', 2, '=', 24)
(12, '*', 3, '=', 36)
(12, '*', 4, '=', 48)
(12, '*', 5, '=', 60)
(12, '*', 6, '=', 72)
(12, '*', 7, '=', 84)
(12, '*', 8, '=', 96)
(12, '*', 9, '=', 108)
(12, '*', 10, '=', 120)